<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/screen.css" rel="stylesheet" media="screen">
		<link href="js/libs/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
        
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="js/libs/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
		<script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.2.7.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/services.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
		<script type="text/javascript" src="js/controllers/MyPlateController.js"></script>
		<script type="text/javascript" src="js/controllers/SearchController.js"></script>
		<script type="text/javascript" src="js/controllers/TakePhotoController.js"></script>
		<script type="text/javascript" src="js/controllers/ProfileController.js"></script>
		<title>Spork.it</title>
	</head>
	<body>
		<div id="fb-root"></div>
		<div ng-controller="SporkitAppController">
			<div id="loginView" ng-hide="isLoggedIn">
				<div class="jumbotron masthead">
					<div class="container">
						<div class="phone"></div>
						<div class="intro-content">
							<p>Crave It?</p>
							<h1>SPORKIT</h1>
							<p>
								and Eat with Friends
							</p>
							<span>Sporkit is a social dining network where great dishes are shared among friends</span>

							<ul class="masthead-links">
								<li><button ng-click="login()" ng-hide="isLoggedIn" class="btn btn-primary btn-lg">
				<i class="fa fa-facebook-square"></i> Connect
			</button></li>
								<li>
									<a href="http://www.apple.com/osx/apps/app-store.html" target="_blank" class="appstore">Download App</a>
								</li>
							</ul>
						</div><!--/intro-content-->
					</div><!--/container-->
				</div><!--/jumbotron-->
			</div>
			<div id="homeView" ng-show="isLoggedIn">
				Home page
				<div class="navbar">
					<div class="navbar-inner">
						<a class="brand" href="#">Spork.it</a>
						<ul class="nav">
							<li>
								<a href="#/myplate">My Plate</a>
							</li>
							<li>
								<a href="#/takephoto">Take Photo</a>
							</li>
							<li>
								<a href="#/search">Search</a>
							</li>
							<li>
								<a href="#/profile">Profile</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<button ng-click="logout()" ng-show="isLoggedIn">
				Facebook Logout
			</button>
			<button ng-click="getLoginStatus()" ng-show="isLoggedIn">
				Get info
			</button>
			facebook status: {{loginStatusObj.status}}
			<hr>
			<div ng-view></div>
		</div>
	</body>
</html>
