<div class="navbar navbar-fixed-top navbar-inner">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="logo">
				<h4>Crave It?</h4>
				<a class="navbar-brand" href="#">Spork.it</a>
			</div></!--/logo-->
		</div><!--/navbar-header-->
		<div class="navbar-collapse collapse">
			<ul class="nav nav-pills navbar-right">
				<li class="active">
					<a href="#/myplate"><i class="fa fa-cutlery fa-fw"></i> Spork Feed</a>
				</li>
				<li>
					<a href="#/takephoto"><i class="fa fa-upload fa-fw"></i> Upload a Dish</a>
				<li>
					<a href="#/search"><i class="fa fa-search fa-fw"></i> Search</a>
				</li>
				<li>
					<div class="btn-group">
						<a class="btn btn-spork" href="#"><i class="fa fa-user fa-fw"></i> Profile</a>
						<a class="btn btn-spork dropdown-toggle" data-toggle="dropdown" href="#"> <span class="fa fa-caret-down"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"><i class="fa fa-cog fa-fw"></i> Settings</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-trash-o fa-fw"></i> Privacy</a>
							</li>
							<li class="divider"></li>
							<li>
								<button ng-click="logout()" ng-show="isLoggedIn"><i class="fa fa-unlock fa-fw"></i> Logout</button>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div><!--/navbar-collapse-->
		<div class="input-group input-group-sm col-lg-3 pull-right">
			<span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
			<input class="form-control" type="text" placeholder="Sunnyvale">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					Go
				</button> </span>
		</div>
	</div><!--/container-->
</div><!--/navbar-fixed-top-->

<button ng-click="getLoginStatus()" ng-show="isLoggedIn">
	Get info
</button>
facebook status: {{loginStatusObj.status}}
<hr>
<div ng-view></div>
