<div class="navbar navbar-fixed-top navbar-inner" ng-controller="TopHeaderController">
    <div class="container">
        <div class="navbar-header">
            <div class="logo">
                <h4>Crave It?</h4>
                <a class="navbar-brand" href="#">Spork.it</a>
            </div></!--/logo-->
        </div><!--/navbar-header-->
        <div class="col-xs-3 search-bar pull-right">
            <div class="input-group input-group-sm pull-right">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-location-arrow"></i>
                    </button> </span>
                <input class="form-control" type="text" placeholder="Your Current Location...">
                <span class="input-group-btn">
                    <button class="btn btn-warning" type="button">
                        Set
                    </button> </span>
            </div><!--/input-->
        </div><!--/col-->
            <div class="clearfix"></div>
            <ul class="nav nav-pills navbar-right">
                <li>
                    <a href="#/myplate"><i class="fa fa-cutlery fa-fw"></i> Meals Feed</a>
                </li>
                <li>
                    <a href="#/takephoto"><i class="fa fa-camera fa-fw"></i> Share Dishes</a>
                </li>
                <li>
                    <a href="#/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                </li>
            </ul>
    </div><!--/container-->
</div><!--/navbar-fixed-top-->
