<div class="jumbotron masthead">
	<div class="container">
		<div class="phone"></div>
		<div class="intro-content">
			<p>
				Crave It?
			</p>
			<h1>SPORKIT</h1>
			<span>Sporkit is a social dining network where great dishes are shared among friends</span>

			<ul class="masthead-links">
				<li>
					<button ng-click="login()" ng-hide="isLoggedIn" class="btn btn-primary btn-lg btn-login">
						<i class="fa fa-facebook-square fa-lg"></i> Connect
					</button>
				</li>
				<li>
					<a href="http://www.apple.com/osx/apps/app-store.html" target="_blank" class="appstore">Download App</a>
				</li>
			</ul>
		</div><!--/intro-content-->
	</div><!--/container-->
</div><!--/jumbotron-->
<div class="container marketing">
	<div class="row">
		<div class="col-lg-4">
			<i class="fa fa-mobile-phone fa-6"></i>
			<h2>Find a Dish</h2>
			<p>
				Take a picture of a dish you like and share it.
			</p>
		</div><!--/col-->
		
		<div class="col-lg-4">
			<i class="fa-spork"></i>
			<h2>Spork It</h2>
			<p>
				Spork a dish that your friends share with you.
			</p>
		</div><!--/col-->
		
		<div class="col-lg-4">
			<i class="fa fa-group fa-5"></i>
			<h2>Cook Together</h2>
			<p>
				Learn how to cook dishes from your friends.
			</p>
		</div><!--/col-->
	</div><!--/row-->
</div><!--/container-->