<div  ng-controller="MyPlateController">
	<ul class="pager pull-right filter">
		<li class="active">
			<a href="#">All</a>
		</li>
		<li>
			<a href="#">Latest</a>
		</li>
		<li>
			<a href="#">Popular</a>
		</li>
		<li>
			<a href="#">Nearest</a>
		</li>
	</ul>
	<h1>Spork Menu <span>What your friends are eating near you</span></h1>
	<div ng-repeat="food in foods" class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<small class="pull-right time-stamp"><i class="fa fa-clock-o fa-fw"></i>1 min</small>
				<h4><i class="fa fa-cutlery"></i>Zak and 2 friends ate...</h4>
				<h4 class="dish-name">{{food.attributes.name}}</h4>
				<small class="pull-right">0.2 mi</small>
				<h5><i class="fa fa-map-marker"></i><a href="http://www.hobees.com" target="_blank">Hobee's Restaurant</a></h5>
				<img src="{{food.attributes.photo._url}}" />
			</div><!--/thumbnail-->
		</div><!--/col-->
		<div class="col-md-4">
			<div class="thumbnail">
				<small class="pull-right time-stamp"><i class="fa fa-clock-o fa-fw"></i>1 min</small>
				<h4><i class="fa fa-cutlery"></i>Zak and 2 friends ate...</h4>
				<h4 class="dish-name">{{food.attributes.name}}</h4>
				<small class="pull-right">0.2 mi</small>
				<h5><i class="fa fa-map-marker"></i><a href="http://www.hobees.com" target="_blank">Hobee's Restaurant</a></h5>
				<img src="{{food.attributes.photo._url}}" />
			</div><!--/thumbnail-->
		</div><!--/col-->
		<div class="col-md-4">
			<div class="thumbnail">
				<small class="pull-right time-stamp"><i class="fa fa-clock-o fa-fw"></i>1 min</small>
				<h4><i class="fa fa-cutlery"></i>Zak and 2 friends ate...</h4>
				<h4 class="dish-name">{{food.attributes.name}}</h4>
				<small class="pull-right">0.2 mi</small>
				<h5><i class="fa fa-map-marker"></i><a href="http://www.hobees.com" target="_blank">Hobee's Restaurant</a></h5>
				<img src="{{food.attributes.photo._url}}" />
			</div><!--/thumbnail-->
		</div><!--/col-->
	</div><!--/row-->
</div><!--ng-controller-->