<div  ng-controller="ProfileController">
	<h1>Profile <span>See all dishes and activities among friends</span></h1>
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
			<img src="assets/user-default.jpg" class="img-thumbnail img-responsive" />
			<div class="name">
				<h2>{{userInfo.name}}</h2>
			</div>
			<div class="location">
				<i class="fa fa-map-marker fa-fw fa-lg"></i> Sunnyvale, CA{{userInfo.location}}
			</div>
			<ul class="nav nav-pills nav-stacked nav-profile">
				<li class="active">
					<a href="#"><i class="fa fa-cutlery fa-fw"></i> My Dishes<span class="badge pull-right">54</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-list-ul fa-fw"></i> Sporklist<span class="badge pull-right">122</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-group fa-fw"></i> Sporkers<span class="badge pull-right">{{nooffriends}}</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-list fa-fw"></i> Activities <span class="badge pull-right">3</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-cog fa-fw"></i> Settings</a>
				</li>
				<li>
					<a href="#" ng-click="logout()" ng-show="isLoggedIn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
				</li>
			</ul>
		</div><!--/col-xs-6-->

		<div class="col-xs-12 col-sm-9 pull-right">
			<p class="pull-left visible-xs">
				<button type="button" class="btn btn-default btn-xs" data-toggle="offcanvas">
					<i class="fa fa-bars fa-fw"></i>
				</button>
			</p>
			<div class="panel panel-default profile-content">
				<div class="panel-heading">
					<span class="badge pull-right">54</span>
					<h2><i class="fa fa-cutlery"></i> My Dishes</h2>
				</div>
				<div class="panel-body">
					
					<div class="media media-item">
						<img src="assets/food/burrito.jpeg" class="thumbnail pull-left" />
						<h4 class="media-heading">Breakfast Burrito</h4>
						<address>
							<strong><i class="fa fa-map-marker fa-fw"></i> Hobee's Restaurant</strong>
							<br/>
							<p>
								800 W Ahwanee Ave,
								<br>
								Sunnyvale, CA 94085
								<br>
								<abbr>P:</abbr> (408) 524-3580
							</p>
						</address>
						<div class="stats">
							<a href="#"> <i class="fa fa-cutlery fa-flip-vertical fa-fw"></i> <strong>Sporks</strong> <span class="badge">55</span> </a>
						</div>
						<div class="stats">
							<a href="#"> <i class="fa fa-comments fa-fw"></i> <strong>Comments</strong> <span class="badge">9</span> </a>
						</div>
					</div><!--/media-->
					
					<div class="media media-item">
						<img src="assets/food/burrito.jpeg" class="thumbnail pull-left" />
						<h4 class="media-heading">Breakfast Burrito</h4>
						<address>
							<strong><i class="fa fa-map-marker fa-fw"></i> Hobee's Restaurant</strong>
							<br/>
							<p>
								800 W Ahwanee Ave,
								<br>
								Sunnyvale, CA 94085
								<br>
								<abbr>P:</abbr> (408) 524-3580
							</p>
						</address>
						<div class="stats">
							<a href="#"> <i class="fa fa-cutlery fa-flip-vertical fa-fw"></i> <strong>Sporks</strong> <span class="badge">55</span> </a>
						</div>
						<div class="stats">
							<a href="#"> <i class="fa fa-comments fa-fw"></i> <strong>Comments</strong> <span class="badge">9</span> </a>
						</div>
					</div><!--/media-->
					
					<div class="media media-item">
						<img src="assets/food/burrito.jpeg" class="thumbnail pull-left" />
						<h4 class="media-heading">Breakfast Burrito</h4>
						<address>
							<strong><i class="fa fa-map-marker fa-fw"></i> Hobee's Restaurant</strong>
							<br/>
							<p>
								800 W Ahwanee Ave,
								<br>
								Sunnyvale, CA 94085
								<br>
								<abbr>P:</abbr> (408) 524-3580
							</p>
						</address>
						<div class="stats">
							<a href="#"> <i class="fa fa-cutlery fa-flip-vertical fa-fw"></i> <strong>Sporks</strong> <span class="badge">55</span> </a>
						</div>
						<div class="stats">
							<a href="#"> <i class="fa fa-comments fa-fw"></i> <strong>Comments</strong> <span class="badge">9</span> </a>
						</div>
					</div><!--/media-->
					
					<div class="media media-item">
						<img src="assets/food/burrito.jpeg" class="thumbnail pull-left" />
						<h4 class="media-heading">Breakfast Burrito</h4>
						<address>
							<strong><i class="fa fa-map-marker fa-fw"></i> Hobee's Restaurant</strong>
							<br/>
							<p>
								800 W Ahwanee Ave,
								<br>
								Sunnyvale, CA 94085
								<br>
								<abbr>P:</abbr> (408) 524-3580
							</p>
						</address>
						<div class="stats">
							<a href="#"> <i class="fa fa-cutlery fa-flip-vertical fa-fw"></i> <strong>Sporks</strong> <span class="badge">55</span> </a>
						</div>
						<div class="stats">
							<a href="#"> <i class="fa fa-comments fa-fw"></i> <strong>Comments</strong> <span class="badge">9</span> </a>
						</div>
					</div><!--/media-->
					
					<div class="media media-item">
						<img src="assets/food/burrito.jpeg" class="thumbnail pull-left" />
						<h4 class="media-heading">Breakfast Burrito</h4>
						<address>
							<strong><i class="fa fa-map-marker fa-fw"></i> Hobee's Restaurant</strong>
							<br/>
							<p>
								800 W Ahwanee Ave,
								<br>
								Sunnyvale, CA 94085
								<br>
								<abbr>P:</abbr> (408) 524-3580
							</p>
						</address>
						<div class="stats">
							<a href="#"> <i class="fa fa-cutlery fa-flip-vertical fa-fw"></i> <strong>Sporks</strong> <span class="badge">55</span> </a>
						</div>
						<div class="stats">
							<a href="#"> <i class="fa fa-comments fa-fw"></i> <strong>Comments</strong> <span class="badge">9</span> </a>
						</div>
					</div><!--/media-->
					
					<div class="media media-item">
						<img src="assets/food/burrito.jpeg" class="thumbnail pull-left" />
						<h4 class="media-heading">Breakfast Burrito</h4>
						<address>
							<strong><i class="fa fa-map-marker fa-fw"></i> Hobee's Restaurant</strong>
							<br/>
							<p>
								800 W Ahwanee Ave,
								<br>
								Sunnyvale, CA 94085
								<br>
								<abbr>P:</abbr> (408) 524-3580
							</p>
						</address>
						<div class="stats">
							<a href="#"> <i class="fa fa-cutlery fa-flip-vertical fa-fw"></i> <strong>Sporks</strong> <span class="badge">55</span> </a>
						</div>
						<div class="stats">
							<a href="#"> <i class="fa fa-comments fa-fw"></i> <strong>Comments</strong> <span class="badge">9</span> </a>
						</div>
					</div><!--/media-->
					
					<div class="media media-item">
						<img src="assets/food/burrito.jpeg" class="thumbnail pull-left" />
						<h4 class="media-heading">Breakfast Burrito</h4>
						<address>
							<strong><i class="fa fa-map-marker fa-fw"></i> Hobee's Restaurant</strong>
							<br/>
							<p>
								800 W Ahwanee Ave,
								<br>
								Sunnyvale, CA 94085
								<br>
								<abbr>P:</abbr> (408) 524-3580
							</p>
						</address>
						<div class="stats">
							<a href="#"> <i class="fa fa-cutlery fa-flip-vertical fa-fw"></i> <strong>Sporks</strong> <span class="badge">55</span> </a>
						</div>
						<div class="stats">
							<a href="#"> <i class="fa fa-comments fa-fw"></i> <strong>Comments</strong> <span class="badge">9</span> </a>
						</div>
					</div><!--/media-->
					
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle=offcanvas]').click(function() {
			$('.row-offcanvas').toggleClass('active');
		});
	}); 
</script>