<div class="navbar navbar-fixed-top navbar-inner" ng-controller="TopHeaderController">
    <div class="container">
        <div class="navbar-header">
            <span class="fa-stack fa-lg pull-right"> 
                <i class="fa fa-circle fa-stack-2x"></i> 
                <i class="fa fa-user fa-stack-1x fa-inverse"></i> 
            </span>
            <div class="logo">
                <a class="navbar-brand" href="#">Spork.it</a>
            </div></!--/logo-->
        </div><!--/navbar-header-->
    </div><!--/container-->
</div><!--/navbar-fixed-top-->
