
<!--nav id="slide-menu">
    <ul>
        <li>
            <a href="#/profile"><i class="fa fa-user fa-fw"></i> User</a>
        </li>
        <li>
            <a href="#/myplate"><i class="fa fa-cutlery fa-fw"></i> Meals Feed</a>
        </li>
        
        
        
        <li>
            <a href="#/myplate"><i class="fa fa-cogs fa-fw"></i> Settings</a>
        </li>
    </ul>
</nav-->

<div class="navbar navbar-fixed-top navbar-inner" ng-controller="TopHeaderController">
    <div class="menu-trigger"></div>
    <div class="container">
        <div class="navbar-header">
            <a href="#/search"> <i class="fa fa-search fa-flip-horizontal fa-lg fa-fw pull-right"></i> </a>
            <div class="logo">
                <a class="navbar-brand" href="#">Spork.it</a>
            </div></!--/logo-->
        </div><!--/navbar-header-->
    </div><!--/container-->
</div><!--/navbar-fixed-top-->
