<div class="jumbotron masthead">
    <div class="intro-content">
        <p>
            Crave It?
        </p>
        <h1>SPORKIT</h1>
        <span>Find, share, and spork the food you love!</span>
    </div><!--/intro-content-->
    <div class="container"></div>
    <div class="phone"></div>
    <div class="signin">
        <ul class="masthead-links">
            <li>
                <button ng-click="login()" ng-hide="isLoggedIn" class="btn btn-primary btn-login">
                    <i class="fa fa-facebook-square fa-lg"></i> Log In with Facebook
                </button>
            </li>
            <!--li>
            <button ng-click="login()" ng-hide="isLoggedIn" class="btn btn-default btn-lg btn-login">
            <i class="fa fa-envelope fa-lg"></i> Sign Up
            </button>
            </li-->
            
            <li class="privacy">
                <i class="fa fa-info-circle"></i> We respect you privacy.
            </li>
        </ul>
        
    </div>
</div><!--/jumbotron-->