<div ng-controller="MyPlateController">
    <div ng-repeat="food in foods" class="row-fluid listview">
        <div class="col-md-4">
            <div class="thumbnail">
                <small class="pull-right time-stamp"><i class="fa fa-clock-o fa-fw"></i>{{getFoodTime(food.createdAt)}}</small>
                <h4><img class="img-profile" ng-src="http://graph.facebook.com/{{food.attributes.createdBy.attributes.fbUserData.id}}/picture?type=square"/> {{food.attributes.createdBy.attributes.fbUserData.first_name}}  ate...</h4>
                <a href="" ng-click="sporkTheFood(food)" class="pull-right badge badge-warning pull-right"> <i class="icon-spork-half"><span class="spork-num">{{food.attributes.noOfSporks}}</span></i></a>
                <div class="dish-bar"></div>
                <h4 class="dish-name"><i class="fa fa-cutlery pull-left"></i>{{food.attributes.name}}</h4>
                <h5 ng-show="food.attributes.restaurant.name"><i class="fa fa-map-marker"></i><a href="#">{{food.attributes.restaurant.name}}</a></h5>
                <!--address>
                {{food.attributes.restaurant.location.display_address[1]}}
                </address-->
                <img src="{{food.attributes.photo._url}}" class="food-photo" />

                <hr class="clear" />
            </div><!--/thumbnail-->
        </div><!--/col-->
    </div><!--/row-->
    <div class="spinner">
        <img src="assets/loader.gif" /><br/>
        Loading more meals...
    </div>
</div><!--ng-controller-->
